{% extends 'base.html' %} {% block content %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <h3 class="page-title">Profile</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Profile</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="profile-view">
              <div class="profile-img-wrap">
                <div class="profile-img">
                  <a href="#"
                    ><img alt="" src="{{user.profile.profile_image.url}}"
                  /></a>
                </div>
              </div>
              <div class="profile-basic">
                <div class="row">
                  <div class="col-md-5">
                    <div class="profile-info-left">
                      <h3 class="user-name m-t-0 mb-0">
                        {{user.profile.first_name}} {{user.profile.other_name}}
                      </h3>
                      <h6 class="text-muted">{{user.profile.neighbourhood}}</h6>
                      <div class="small doj text-muted">
                        Date of Join : {{user.profile.created}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <ul class="personal-info">
                      <li>
                        <div class="title">Phone:</div>
                        <div class="text">{{user.profile.phone_number}}</div>
                      </li>
                      <li>
                        <div class="title">Email:</div>
                        <div class="text">{{user.profile.email}}</div>
                      </li>
                      <li>
                        <div class="title">Username:</div>
                        <div class="text">{{user.profile.username}}</div>
                      </li>
                      <li>
                        <div class="title">Neighbourhood:</div>
                        <div class="text">{{user.profile.neighbourhood}}</div>
                      </li>
                      <li>
                        <div class="title">Joined on:</div>
                        <div class="text">{{user.profile.created}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="pro-edit">
                <a
                  data-target="#profile_info"
                  data-toggle="modal"
                  class="edit-icon"
                  href="#"
                  ><i class="fa fa-pencil"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="profile_info" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Profile Information</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form
            action="{% url 'edit-user'%}"
            method="POST"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>First Name</label>
                      {{form.first_name}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Other Names</label>
                      {{form.other_name}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Username</label>
                      {{form.username}}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Phone Number</label>
                      {{form.phone_number}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email</label>
                  {{form.email}}
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >Neighbourhood <span class="text-danger">*</span></label
                  >
                  {{form.neighbourhood}}
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label>Profile Photo</label>
                  {{form.profile_image}}
                </div>
              </div>
            </div>
            <div class="submit-section">
              <button class="btn btn-primary submit-btn">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
