<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>Mtaani post</title>

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.png"
    />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/font-awesome.min.css'%}"
    />

    <!-- Lineawesome CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/line-awesome.min.css'%}"
    />

    <!-- Datatable CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/dataTables.bootstrap4.min.css'%}"
    />

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/select2.min.css'%}" />

    <!-- Datetimepicker CSS -->
    <link
      rel="stylesheet"
      href="{% static 'assets/css/bootstrap-datetimepicker.min.css'%}"
    />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}" />
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- header & sidebar -->
      {% if request.user.is_authenticated %} {% include 'sidebar.html' %}
      {%include 'header.html'%} {%endif%}
      <!-- block content -->
      {% block content %}{% endblock content %}
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>

    <!-- Bootstrap Core JS -->
    <script src="{% static 'assets/js/popper.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

    <!-- Slimscroll JS -->
    <script src="{% static 'assets/js/jquery.slimscroll.min.js'%}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'assets/js/select2.min.js'%}"></script>

    <!-- Datatable JS -->
    <script src="{% static 'assets/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'assets/js/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Datetimepicker JS -->
    <script src="{% static 'assets/js/moment.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-datetimepicker.min.js'%}"></script>

    <!-- Custom JS -->
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script src="{% static 'js/scripts.js'%}"></script>
  </body>
</html>
